{
  "trailingComma": "es5",
  "printWidth": 130,
  "singleQuote": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.flow.js",
      "options": {
        "parser": "flow"
      }
    }
  ]
}
