name: benchmark

on:
  pull_request:
    branches:
      - main

jobs:
  bench:
    name: k6
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup env
        uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: 17
          packageManager: 'pnpm'

      - name: Build
        run: pnpm run build

      - name: Setup K6
        run: |
          sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys C5AD17C747E3415A3642D57D77C6C491D6AC1D69
          echo "deb https://dl.k6.io/deb stable main" | sudo tee /etc/apt/sources.list.d/k6.list
          sudo apt-get update
          sudo apt-get install k6=0.37.0

      - name: GraphQL API
        run: |
          pnpm run loadtest:start-server &
          pnpm wait-on tcp:3000

      - name: Run Benchmark
        run:
          k6 -e GITHUB_PR=${{ github.event.number }} -e GITHUB_SHA=${{ github.sha }} -e
          GITHUB_TOKEN=${{secrets.GH_API_TOKEN}} -e GRAPHQL_HOSTNAME="[::1]" run ./benchmark/k6.js
